html{
    font: 16px/1.5 Helvetica, sans-serif;
}

body{
    padding: 5em;
}

h1, h2, h3, h4, h5, h6{
    font: 1em/1.2 Georgia, serif;
    margin: 1rem 0 0.5em 0;
    padding: 0;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 2rem;   }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

p{
    margin: 0;
    padding-bottom: 1.5rem;
}

ol,ul,dl {
    margin: 0 0 1.5rem 0;
}

hr{
    margin: 2rem, 0;
}

a{
    text-decoration: overline;
    text-indent: 50px;
    color: yellowgreen;
    font-weight: bold;
    font-size: 2rem;

}